{%extends "generic.html"%}
{%block content%}

            <form action="{%url 'validate'%}" method="post" class="form-horizontal" name="myForm">
            {%csrf_token%}
          <div class="form-group-sm col-sm-7">
                              <label for ="{{formz.phone_no.id_for_label}}">Mobile Number</label>
                <input type="text" name="phone_no"  maxlength="20" required id="id_phone_no" class="form-control"/>
          </div>
            
      </div> 
          <div class="form-group-sm col-sm-7">
                  <input type="submit" class="btn-success" value="submit" onclick="save()"/>
</div>
        </form>
        {%if error%}
  <h2 style="color: red;">{{error}}</h2>
{%endif%}
{%endblock%}
